* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;

}

body {
  justify-content: center;

  background: linear-gradient(to right, #d9ff006e, rgba(21, 255, 0, 0.548));
}

header {
  max-width: 100%;
  width: 90%;
  height: 90px;
  margin-left: 5%;
  background: linear-gradient(to right, rgb(229, 255, 0), rgb(21, 255, 0));
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
  z-index: 10;
}

.nav {
color: #000000;
  max-width: 100%;
  display: flex;
  border-radius: 20px;
  float: inline-end;
}

.logo {
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
  display: block;
  display: inline;
  text-align: justify;
  color: #000000;

  font-family: Arial, Helvetica, sans-serif;
}


.escudo {

  margin-top: 3px;
  width: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
}

.bars {
  display: none;
}

.nav-bar ul {

 align-items:end;
  display: flex;
  position: end;
  padding: 12px;
  max-width: 100%;
  width: 100%;

}

.nav-bar ul li a {
  color: #000000;
  display: block;

  font-size: 18px;
  padding: 10px 20px;
  margin: 0 4px;
  border-radius: 15px;
  transition: all 0.2s ease;
  justify-content: space-between;
}

.nav-bar ul li a:hover {
  color: black;
  background-color: rgb(229, 255, 0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
}

.nav-bar ul li a.active {
  color: black;
  background-color: rgb(229, 255, 0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media(max-width:900px) {
  header {
    padding-bottom: 0;
    margin-bottom: 0;
    justify-content: space-around;
    margin-right: 20px;
  }

  .bars {
    display: block;
    cursor: pointer;
    margin-left: 30px;
  }

  .bars .linea {
    width: 35px;
    margin: 0;
    margin-left: 10%;
  }

  .nav-bar {
    height: 0px;
    position: absolute;
    padding-bottom: 0;
    top: 87px;
    right: 2.5%;
    width: 90%;
    background: linear-gradient(to right, #d9ff00e5, rgba(21, 255, 0, 0.959));
    transition: 0.6s;
    border-radius: 0px 0px 25px 25px;
    pointer-events: none;

  }

  .nav-bar.active {
    height: 450px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.274);
    border-top: none;
  }

  .nav-bar ul {
    position: block;
    top: 0;
    display: block;
    width: fit-content;
    margin: 0px auto 0 auto;
    text-align: center;
    transition: 0.7s;
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 4%;

  }

  .nav-bar {
    padding-bottom: 0;
    box-shadow: none;
    margin-right: 2.5%;
  }

  .nav-bar.active ul {
    opacity: 1;
    pointer-events: auto;
    transition: 2s;

  }

  .nav-bar ul li a {
    margin-bottom: 25Px;
    margin-top: 25px;
    font-weight: 600;
    color: #000000;
    transition: opacity 0.5s ease, transform 1s ease; 
  }

  .cont-hp {
background-color: #000000;
background-image: none;
  }
  .cont-H {
    display: flex;
    flex-direction: column;
  }

  .cont-ec {
    background-color: #ffffff;
    margin: 15px;
    padding: 15px;
    border-radius: 25px 25px 0 0;
  }

  .cont-lt {
    background-color: #ffffff;
    margin: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
  }

  .cont-bc {
    background-color: #ffffff;
    margin: 15px;
    padding: 15px;
    border-radius: 0 0 25px 25px;
  }

  .title-h {
    padding: 20px;
    background-color: white;
    text-align: center;
    margin-top: 20px;
  }

  .cont-hp {
    background-color: #ffffff;
    max-width: 90%;
    max-height: 90%;
  }
}

/* Historia */
.cont-hp {
  margin-top: 20px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
  width: 95vw;
  background-color: rgb(255, 255, 255);
  margin-left: 5%;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  text-align: justify;
  border-radius: 15px;

}

.t-h {
  padding: 20px;
  font-family: "Fjalla One", sans-serif;
  
}

.p-h {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  max-width: 100%;

}

.title-h {
  padding: 20px;
  background-color: white;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
}

.cont-H {
  width: 90%;
  display: flex;
  margin: 20px 5%;
  justify-content: space-around;
  text-align: justify;
}

.cont-ec {
  background-color: #ffffff;
  margin: 15px;
  padding: 15px;
  line-height: 1.5;
  border-radius: 15px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
}
.img-ec img {
  width: 50%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
}
.img-lt img {
  width: 70%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
}
.img-bc img {
  width: 50%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
}

.cont-lt {
  background-color: #ffffff;
  margin: 15px;
  padding: 15px;
  line-height: 1.5;
  border-radius: 15px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
}

.cont-bc {
  background-color: #ffffff;
  margin: 15px;
  padding: 15px;
  line-height: 1.5;
  border-radius: 15px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}


/*logros*/

.cont-prin {
  max-width: 800px;
  margin: 0 auto;
}

.t-lo {
  font-weight: 700;
  text-align: center;
  background-color: rgb(126, 255, 86);
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 20px 20px 0 0;
}

.new-logro {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  line-height: 1.5;
  text-align: justify;
}

.new-logrofin {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  line-height: 1.5;
  text-align: justify;
  border-radius: 0 0 20px 20px;
}

.new-cont {
  padding: 0 20px;
  text-align: justify;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.t-c {
  font-size: 1.3em;
  padding-left: 20px;
  margin: 0px 20px;
  margin-bottom: 10px;
  color: #000000;
  padding: 0px;
  font-weight: 600;
}

@media (max-width:900px) {
  .cont-prin {
    text-align: justify;
    max-width: 800px;
    margin: 0 20px;
  }

  .t-c {
    justify-content: center;
    width: 100% 20px;
    font-size: 20px;
    padding: 0px;
    font-weight: 600;
  }

  .new-logro {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .img-lt img {
    width: 50%;
    height: auto;
    display: block;
    margin: 25px auto;
    border-radius: 50%;
  }
}

/*teachers*/

/* Contenedor de la tabla */
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
  text-align: center;
  font-weight: 400;
  color: #4CAF50;
}

/* Estilo de la tabla */
.professors-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Encabezados de la tabla */
.professors-table th {

  background-color: #4CAF50;
  color: white;
  font-weight: normal;
  padding: 12px 15px;
  text-align: left;
  border-top: 1px solid #e0e0e0;
  border-bottom: 2px solid #4CAF50;

}

/* Filas de la tabla */
.professors-table td {
  padding: 10px 15px;
  border-top: 1px solid #e0e0e0;
}

/* Estilo alternado para filas */
.professors-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover en filas */
.professors-table tr:hover {
  background-color: #e8f5e9;
  cursor: default;
}

/* Responsive */
@media (max-width:900px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  .professors-table th,
  .professors-table td {
    padding: 8px 10px;
    font-size: 14px;
    width: 90%;
    max-width: 90%;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .professors-table th {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    font-weight: normal;
    padding: 12px 15px;
    text-align: left;
    border-top: 1px solid #e0e0e0;
    border-bottom: 2px solid #4CAF50;

  }

}

.hymn-container {
  width: 50%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Título del himno */
.hymn-title {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #4CAF50;
  margin-bottom: 10px;
}

/* Autores */
.hymn-author {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

/* Texto del himno */
.hymn-text {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  text-align: center;
  white-space: pre-line;

}

@media (max-width: 900px) {
  .hymn-container {
    width: 90%;
  }

}


.music-player {
  margin: auto;
  width: 50%;
  padding: 20px;
      margin-top: 20px;
  border-radius: 10px;
  background-color: #ffffff4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Controles */
.controls {
  display: flex;
  gap: 15px;
}

.controls img {
  width: 40px;
  cursor: pointer;
}

/* Barra de progreso */
.progress-container {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.progress {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #ff0000, #f0f0f0);
  transition: width 0.2s;
}

/* Botón de descarga */
.download-btn {
  margin-top: 10px;
  padding: 10px 20px;
  color: white;
  background-color: #3bff6c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.download-btn:hover {
  background-color: #0aff1e;
}

@media (max-width: 900px) {
  .music-player {
    margin: auto;
    width: 90%;
    margin-top: 20px;
  }
}



/*otros html*/










.slider-frame-his{
  width: 50vw;
  height: 60vh;
  margin: auto;
overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;  
  border-radius: 20px;
}
.slider-frame-his ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: slide-his 15s infinite alternate ease-in;
}
.slider-frame-his li {
  list-style: none;
  width: 100%;
}
.slider-frame-his img {
  width: 100%;

}
@keyframes slide-his {
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  30% {margin-left: -100%;}
70% {margin-left: -100%;}

  80% {margin-left: -200%;}
  100%{margin-left: -200%;}
  
}

.slider-frame2 {
  display: none;
position: relative;
}
.slider-frame2{
  width: 89vw;
  height: 88vh;
  margin: auto;
  overflow: hidden;
margin-top: -13px;
border-radius: 0 0 10px 10px;
}

.slider-frame2 ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide2 20s infinite alternate ease-in;
}
.slider-frame2 li {
  list-style: none;
  width: 100%;
}
.slider-frame2 img {
  width: 100%;
}

@keyframes slide2 {
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

@media (max-width: 900px) {


  .slider-frame2 {
    display: block;
    width: 70vh;
    height: 70vh;
  }
  .slider-frame-his{
    width: 80vw;
    height: 21vh;
    margin-bottom: 0;
  }
  .slider-frame-his img {
    width: 100%;
    
  }
 
}
.divider {
  border: 0;
  height: 3px;
  background-color: #0000004d;
  margin:5px 30px;
}
.nuevo-texto {
  position: absolute;
  background-color: #f8f8f8c0;
position: fixed;
border-radius: 15px;
padding: 30px;
margin: 20%;
margin-top: -35%;
}
    /* Estilos generales */

    .Ubi {
      background: linear-gradient(135deg, #84ff11, #2e7d32);
      color: #fff;
      padding: 20px;
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
  }
    /* Contenedor principal */
    .location-container {
      display: block;
      margin: auto;
      margin-top: 20px;
      width: 80vw;
      max-width: 400px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
  }

  /* Área del mapa */
  .map {
      width: 100%;
      height: 250px;
  }

  /* Detalles del lugar */
  .details {
    margin-top: 40px;
      padding: 20px;
      color: #555;
      font-size: 0.9em;
  }

  .details p {
      margin: 5px 0;
  }

  /* Botón de acción */
  .action-button {
      display: block;
      width: 100%;
      padding: 15px;
      text-align: center;
      background-color: hwb(128 26% 19%);
      color: #fff;
      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      transition: background 0.3s ease;
  }

  .action-button:hover {
      background-color: #388e3c;
  }

  @media (max-width:900px) {
    .location-container {
      display: block;
      margin: auto;
      margin-top: 20px;
      width: 100vw;
      max-width: 400px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
  } 
  }